body {
  background-color: black;
  color: white;
  margin-left: 40%;
}

.btn1 {
  height: 36px;
  margin-left: 10px;
  border-radius: 10px;
}

.btn2 {
  height: 36px;
  margin-left: 10px;
  border-radius: 10px;
}